<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Travel Webpage</title> 
    <style>
        body {
            background:rgb(57, 201, 28);
        }
        p {
            color:rgb(158, 95, 17);
        }
        h1 {
            color:rgb(72, 182, 196);
        }
        h2 {
            color:rgb(0, 196, 255);
        }
        #top-things {
            background:rgb(97, 121, 130);
        }
        .list {
            color:rgb(101, 145, 29);
        }
        </style>
    </head>
    <body>
        <p>New Zelands's diverse natural scenery, <em>warm</em> tropical climate, abundance of public beaches, oceanic surroundings, and active volcanoes make it <strong>a popular destination for tourists, surfers, biologists, and volcanologists</strong>.New Zealand (M?ori: Aotearoa [a??t?a??a]) is an island country in the southwestern Pacific Ocean. It consists of two main landmasses—the North Island (Te Ika-a-M?ui) and the South Island (Te Waipounamu)—and over 700 smaller islands. It is the sixth-largest island country by area, covering 268,021 square kilometres (103,500 sq mi). New Zealand is about 2,000 kilometres (1,200 mi) east of Australia across the Tasman Sea and 1,000 kilometres (600 mi) south of the islands of New Caledonia, Fiji, and Tonga. The country's varied topography and sharp mountain peaks, including the Southern Alps, owe much to tectonic uplift and volcanic eruptions. New Zealand's capital city is Wellington, and its most populous city is Auckland..</p>
        
    <img src="https://www.kasandbox.org/programming-images/landscapes/beach-in-hawaii.png" width="300">
    <img src="https://www.kasandbox.org/programming-images/landscapes/beach-waves-at-sunset.png" width="300">
      
    <h2 id="top-things">Top things to do in Hawaii</h2>
    
        <ol class="list">
            <li>Kalalau Trail</li>
            <li>Humpback Whales, Maui</li>
            <li>Volcanoes National Park</li>
            <li>Waimea Canyon</li>
            <li>Surf Oahu</li>
        </ol>
        
    <h2>Climate</h2>    
    <p>New Zealand's climate is predominantly temperate maritime (K?ppen: Cfb), with mean annual temperatures ranging from 10 °C (50 °F) in the south to 16 °C (61 °F) in the north.[181] Historical maxima and minima are 42.4 °C (108.32 °F) in Rangiora, Canterbury and ?25.6 °C (?14.08 °F) in Ranfurly, Otago.[182] Conditions vary sharply across regions from extremely wet on the West Coast of the South Island to semi-arid in Central Otago and the Mackenzie Basin of inland Canterbury and subtropical in Northland</p>
    
    <ul class="list">
        <li>bla bla</li>
        <li>Kbla bla</li>
        <li>bla blabla blaauna Kea</li>
        <li>Hbla blaaleakal?</li>
    </ul>
    
        <img src="https://www.kasandbox.org/programming-images/landscapes/lava.png" width="300">
    </body>
        <img src="https://www.kasandbox.org/programming-images/landscapes/mountain_matterhorn.png" width="300">
</html>
